#header{
    position: relative;
    background-image: linear-gradient(to bottom right,rgb(28, 28, 196),rgb(238, 49, 143));
    height: 250px;
    margin: 0;
}

div div .col .input{
    width: 100%;
}

#title {
    position: absolute;
    top: 40%;
    right: 50%;
    left: 40%;
    margin-right: 40px;
    font-size:2.5em;
}

.container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 1px solid black;
    width: 100%;
    margin-top: 40px;
}

.tableCell {
    border: 1px solid black;
    text-align: center;
}

#result{
    border: 2px solid black;
    font-size: 1.5em;
}

#totalTag {
    text-align: right;
}

#result {
    text-align: left;
    /* border: 2px solid black; */
    font-weight: bold;
}

.heading {
    text-align: center;
}